@use "sass:math";

textarea {
  resize: none;
  outline: black 1px solid;
}

textarea:focus {
  outline: blue 1px solid;
}

.default {
  grid-column: span 2;
}

.wide {
  grid-column: span 6;
}

.halfWide {
  grid-column: span 3;
}

.tall {
  grid-row: span 3;
}



@mixin twoThirdsLeft {
  display: grid;
  grid-row: span 3;
  grid-column: span 4;
  grid-auto-rows: minmax(0, 1fr);
}

.grid {
  @include twoThirdsLeft();
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.endgameOptions {
  @include twoThirdsLeft();
  grid-template-columns: 1fr 1fr;
}

// Must be odd, because one slot is taken up by an empty tag for spacing
$qualCounterSlots : 7;

.qualitativeTeam {

  grid-row: span 4;

  border-top: 0.175em solid silver;

  display: grid;
  grid-template-columns: repeat($qualCounterSlots, 1fr);
  grid-auto-rows: minmax(0, 1fr);

  #teamNumber {
    font-weight: bold;
    font-size: 2.4rem;
    grid-column: span 7;
  }
  .attribute {
    grid-column: span 3;
    // justify-content: center;
    text-align: center;
    font-size: 1.2rem;
  }



    button {
      text-align: center;
      //font-weight: bold;
  
      grid-column: span 1;
      border-radius: 25vh;
      margin-bottom: 0.4vh;   
    }

    .notIOS {
      font-size: 3rem;
    }

    .IOS {
      font-size: 1.7rem;
    }

    p {
      font-size: 1.6rem;
      text-align: center;
    }

}

  
  
.evenFlex {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.evenFlex>* {
  flex-grow: 1;
  width: 0;
}

select,
input[type="number"],
input[type="text"],
textarea {
  padding: 2px 2vw;
}

p,
label,
div.Center {
  display: flex;
  align-items: center;
  justify-content: center;
}

label.AlignRight {
  justify-content: right;
}

label.Checkbox {
  justify-content: flex-start;
  user-select: none;

  &>input {
    margin-right: 10vw;
    margin-left: 5vw;
  }

  &[warn="1"] {
    background-color: hsl(354, 100%, 95%);
  }
}

button {
  user-select: none;
}

select {
  color: black;
  border: 2px solid black;
  -webkit-appearance: menulist;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
}

.timer {
  border: 2px solid hsl(133, 100%, 26%);
  // makes padding the same as buttons
  padding-top: 1px;
  padding-bottom: 1px;
}

div.Numbers,
div.TextLine {
  display: flex;
  gap: 1vw;
  padding-left: 3vw;

  &>input {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;
    width: 0px;
  }

  &>label {
    white-space: nowrap;
    // scss thinks we want pre-compile min so we need to bypass it
    flex-basis: unquote("min(25vw, 100px)");
  }

}

div.TripleTeamSelector {
  display: flex;
  gap: 1vw;
  padding-left: 3vw;

  .teams {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;
    width: 0px;

    &>input {
      flex-grow: 1;
      flex-shrink: 1;
    }
  }

  &>label {
    white-space: nowrap;
    // scss thinks we want pre-compile min so we need to bypass it
    flex-basis: unquote("min(25vw, 100px)");
  }
}