textarea {
  resize: none;
}

.wide {
  grid-column: span 2;
}

.evenFlex {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.evenFlex > * {
  flex-grow: 1;
  width: 0;
}
