textarea {
  resize: none;
  outline: black 1px solid;
}

textarea:focus {
  outline: blue 1px solid;
}

.default {
  grid-column: span 2;
}

.wide {
  grid-column: span 6;
}

.halfWide {
  grid-column: span 3;
}

.tall {
  grid-row: span 3;
}



@mixin twoThirdsLeft {
  display: grid;
  grid-row: span 3;
  grid-column: span 4;
  grid-auto-rows: minmax(0, 1fr);
}

.grid {
  @include twoThirdsLeft();
  grid-template-columns: 1fr 1fr 1fr 1fr;
  // oops, i overrided the tab font size when I put the buttons in this grid
  // Therefore, I now set their font size here
  > button {
    font-size: 1rem;
  }
}

.endgameOptions {
  @include twoThirdsLeft();
  grid-template-columns: 1fr 1fr;
}


.evenFlex {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.evenFlex > * {
  flex-grow: 1;
  width: 0;
}

select,
input[type="number"],
textarea {
  padding: 2px 2vw;
}

p,
label,
div.Center {
  display: flex;
  align-items: center;
  justify-content: center;
}

label.AlignRight {
  justify-content: right;
}

label.Checkbox {
  justify-content: flex-start;
  user-select: none;
  & > input {
    margin-right: 10vw;
    margin-left: 5vw;
  }
  &[warn="1"] {
    background-color: hsl(354, 100%, 95%);
  }
}

button {
  user-select: none;
}

select {
  color: black;
  border: 2px solid black;
  -webkit-appearance: menulist;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
}

.timer {
  border: 2px solid hsl(133, 100%, 26%);
  // makes padding the same as buttons
  padding-top: 1px;
  padding-bottom: 1px;
}

div.Numbers {
  grid-column: span 6;
  display: flex;
  gap: 1vw;
  padding-left: 3vw;
  & > input {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;
    width: 0px;
  }
  & > label {
    white-space: nowrap;
    // scss thinks we want pre-compile min so we need to bypass it
    flex-basis: unquote("min(25vw, 150px)");
  }
}
