.Tab {
  flex-grow: 1;

  // Regular
  // border-top-right-radius: 20px;
  // border-top-left-radius: 20px;

  //Sideways  
  width: 100%;
  
  transform: rotate(180deg);
  writing-mode:vertical-rl;
}

.Tab:disabled {
  color: black;
  background-color: hsl(0, 0%, 83%);
}

.Tab:not(:disabled) {
  background-color: hsl(0, 0%, 63%);
}

.Tab:active {
  background-color: hsl(0, 0%, 90%);
}

.Tabs {
  flex-basis: 100%;
  flex-direction: column-reverse;
}
