$tab-size: 2em;
$key-value-gap: $tab-size / 4;

.DataEditor,
.labeledElement {
  display: flex;
  align-items: flex-start;
}

.DataEditor {
  flex-direction: column;
  overflow-y: scroll;
  grid-column: span 2;
}

.labeledElement {
  & p {
    margin: 0;
  }

  flex-direction: row;
  &.vertical {
    flex-direction: column;
    & .labeledElement {
      padding-left: $tab-size;
    }
  }
  & p:first-child {
    padding-right: $key-value-gap;
  }
}
