.panel {
  height: 100%;
  width: 100vw;
  min-height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(0, 1fr);
  & > *,
  & > div.PWA > *,
  & .Tabs > .Tab {
    min-height: 0px;
    margin: 0px;
    font-size: 1rem;
  }
  & .version {
    display: flex;
    justify-content: space-around;
  }
}
