@keyframes scan {
  from {
    background-color: hsl(206, 60%, 90%);
  }
  10% {
    background-color: hsl(206, 100%, 80%);
  }
  to {
    background-color: hsl(206, 60%, 90%);
  }
}

.QrWrapper {
  grid-row: span 2;
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  & > section {
    flex-grow: 1;
    max-height: 70vh;
    max-width: 70vmin;
  }

  &[animate="1"] {
    animation: scan 1.3s cubic-bezier(0.23, 1.06, 0.48, 0.7);
  }
}
